@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );
    }

    Validation.Add( "newPwd", Validator.Regex( @"^(?=.*\d)(?=.*[a-zA-Z]).{6,50}$", "Weak Password. Select a password longer than 6 characters and include at least one capital letter and one digit." ) );

    Validation.RequireField( "oldPwd", "Required Field" );
    Validation.RequireField( "newPwd", "Required Field" );
    Validation.RequireField( "rnewPwd", "Required Field" );
        

    int user = (int) Session["userID"];
    string message = string.Empty;
    string n_message = string.Empty;
    string s_message = string.Empty;
    if(IsPost){
        
        string currentPWD = Request.Form["oldPwd"];
        string newPWD = Request.Form["newPwd"];
        string rnewPWD = Request.Form["rnewPwd"];



        Database db = Database.Open("GP");
        var sqlSelect = "SELECT pwd FROM rc_UserLogin WHERE userID=@0";
        var user_data = db.QuerySingle(sqlSelect, user);

        if(user_data.pwd != currentPWD){
            message = "Current Password is wrong";
        }else{
            if(newPWD != rnewPWD){
                n_message = "Password does not match";
            }else{
                sqlSelect = "UPDATE rc_UserLogin SET pwd=@0 WHERE userID=@1";
                db.Execute(sqlSelect, newPWD, user);
                s_message = "Password successfully changed";
                
            }
        }
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="~/rcLayouts/default/css/forms.css" rel="stylesheet" />
    </head>
    <body>
        
        <form method="post" action="" autocomplete="off">
        <fieldset>
        <ol>
            <li>
                    <label for="oldPwd">Current Password:</label>
                    <input type="password" name="oldPwd" @Validation.For( "oldPwd" ) id="oldPwd" />
                    <p>@Html.ValidationMessage( "oldPwd" )</p>
                    <p>@message</p>
            </li>
            <li>
                    <label for="newPwd">New Password:</label>
                    <input type="password" name="newPwd" @Validation.For( "newPwd" ) id="newPwd" />
                    <p>@Html.ValidationMessage( "newPwd" )</p>
            </li>

            <li>
                    <label for="rnewPwd">Repeat New Password:</label>
                    <input type="password" name="rnewPwd" @Validation.For( "rnewPwd" ) id="rnewPwd" />
                    <p>@Html.ValidationMessage( "rnewPwd" )</p>
                    <p>@n_message</p>
            </li>
            
        </ol>
            
          <p class="form-actions">
            <input type="submit" value="Change" title="Change" /><span style="padding-left: 1em">@s_message</span>
        </p>
        </fieldset>
        </form>

    </body>
</html>
