@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );

    }

    var groupID = Request["groupId"];
    var user = ( int ) Session["userID"];

    var db = Database.Open( "GP" );
    var sqlSelect = "Select * From rc_Files Where groupID = @0";
    var data = db.Query( sqlSelect, groupID );

    sqlSelect = "SELECT * from rc_groups WHERE groupID=@0";
    var g_data = db.QuerySingle( sqlSelect, groupID );
    string name = ( string ) Session["name"];
    
    if ( data.Count() == 0 ) {
        Response.Redirect("~/files?groupId=" + groupID.ToString());
    }
    
    if ( IsPost ) {
        var fileId = Request.Form["image"];
        if ( !fileId.IsEmpty() ) {
            sqlSelect = "SELECT * FROM rc_Files WHERE fileID = @0";
            var file_data = db.QuerySingle( sqlSelect, fileId );
            
            
            
            var sqldelete = "Delete From rc_Files Where fileID= @0";
            db.Execute( sqldelete, ( string ) fileId );
            File.Delete( file_data.filePath );
            Response.Redirect( Request.RawUrl );
        }
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/forms.css" rel="stylesheet" />
    <title></title>
</head>
<body>


    <fieldset style="background-color: #E5E5E5; ">

        <p style="padding-top: 1em">
            <span style="padding-left: 0.9em; font-size: 16px"><strong>Group Name:</strong> @g_data.groupName</span>
            <span style="padding-left: 2em; font-size: 16px"><strong>Owner:</strong> @if ( g_data.ownerID == user ) { <text>You</text> } else { @name }</span>
            <span style="padding-left: 2em; font-size: 16px"><strong>Date Created:</strong> @g_data.date</span>
        </p>
    </fieldset>

    @if ( data != null ) {
        <div class="table">
            <table>

                <colgroup>
                    <col span="1" style="width: 45%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <tr>
                    <th style="border-left: none"> FILE NAME </th>
                    <th> CURRENT OWNER </th>
                    <th> MODIFIED </th>
                    <th style="border-left: none"> </th>
                </tr>
                @foreach ( var item in data ) {
                    <tr>
                        @{
                            string fileName = string.Empty;
                            if ( item.fileName.Length >= 35 ) {
                                fileName = item.fileName.Substring( 0, 35 ) + "...";

                            } else {
                                fileName = item.fileName;

                            }
                        }

                        <td style=" border-left:1px solid #d7d7d7;border-left-width: thick; border-left-color: #96C4E3">@fileName</td>
                        @{
                            sqlSelect = "SELECT * FROM rc_UserLogin WHERE userID = @0";
                            var user_data = db.QuerySingle( sqlSelect, item.currentOwner );
                            string currentOwner = user_data.firstName + " " + user_data.lastName;
                            
                        }                        
                        <td> @currentOwner </td>
                        <td> @item.date </td>
                        <td>
                            <form method="post">
                                <input type="image" src="~/rcLayouts/default/images/delete.png" name="image" value="@item.fileID" width="18" height="18" onclick="return confirm('Are you sure you want to delete this file?')" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
</html>
