@using Microsoft.Web.Helpers;
@using System.Web.WebPages.Html;
@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );

    }
    var user = ( int ) Session["userId"];
    var name = string.Empty;

    var groupId = Request["groupId"];

    var db = Database.Open( "GP" );
    var sqlSelect = "Select * From rc_Files Where groupID= @0";
    var data = db.Query( sqlSelect, groupId );

    sqlSelect = "SELECT userID FROM rc_UserGroups WHERE groupID=@0";
    var u_data = db.Query( sqlSelect, groupId );

    bool isMember = false;
    foreach ( var item in u_data ) {
        if ( item.userID == user ) {
            isMember = true;
            break;
        }
    }

    sqlSelect = "SELECT * from rc_groups WHERE groupID=@0";
    var g_data = db.QuerySingle( sqlSelect, groupId );

    sqlSelect = "SELECT * FROM rc_UserLogin WHERE userID=@0";
    var user_data = db.QuerySingle( sqlSelect, g_data.ownerID );
    name = user_data.firstName + " " + user_data.lastName;


    if ( IsPost ) {
        var fileId = int.Parse( Request.Form["image"] );

        byte[] file = rcFunctions.GetFile( rcFunctions.getdownloadPath( fileId ) );


        Response.ClearContent();
        Response.ContentType = "application/octet-stream";

        Response.AddHeader( "content-disposition", "attachment; filename=" + rcFunctions.getFileName( fileId ) );

        Response.BinaryWrite( file );
        Response.End();






        //FileWebRequest.Create( download_data.filePath );


        //get the download file path
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
    <link href="~/rcLayouts/default/css/forms.css" rel="stylesheet" />


    <title></title>
</head>
<body>

    @if ( data != null ) {

        if ( isMember ) {

            <fieldset style="background-color: #F7F7F7; border: none; ">

                        <span style="padding-left: 0.9em; font-size: 16px"><strong>Group Name:</strong> @g_data.groupName</span>
                        <span style="padding-left: 2em; font-size: 16px"><strong>Owner:</strong> @if ( g_data.ownerID == user ) { <text>You</text> } else { @name }</span>
                        <span style="padding-left: 2em; font-size: 16px"><strong>Date Created:</strong> @g_data.date</span>
                </fieldset>
            if ( data.Count() > 0 ) {



                <div class="table">
                    <table>

                        <colgroup>
                            <col span="1" style="width: 45%;">
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 25%;">
                            <col span="1" style="width: 5%;">
                        </colgroup>
                        <tr>
                            <th style="border-left: none"> FILE NAME </th>
                            <th> CURRENT OWNER </th>
                            <th> DATE MODIFIED </th>
                            <th style="border-left: none"> </th>
                        </tr>
                        @foreach ( var item in data ) {
                            <tr>
                                @{
                            string fileName = string.Empty;
                            if ( item.fileName.Length >= 35 ) {
                                fileName = item.fileName.Substring( 0, 35 ) + "...";

                            } else {
                                fileName = item.fileName;

                            }
                                }
                                <td style=" border-left:1px solid #d7d7d7;border-left-width: thick; border-left-color: #96C4E3">
                                    @fileName
                                </td>
                                <td> @name </td>
                                <td> @item.date </td>
                                <td>

                                    <form method="post">
                                        <input type="image" src="~/rcLayouts/default/images/download.png" name="image" value="@item.fileID" width="19" height="19" style="outline: none" />
                                    </form>
                                    @*
                                        <a href="javascript:void(0);" onclick="document.execCommand('SaveAs', true, '@rcFunctions.getdownloadPath(item.fileID)')"><img src="~/rcLayouts/default/images/download.png" height="18" width="18" /></a>

                                        <a href="javascript:void(0)" onclick="downloadURL( '@rcFunctions.getdownloadPath(item.fileID)' )"><img src="~/rcLayouts/default/images/download.png" height="18" width="18" /></a>
                                    *@

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            } else {
                <p style="padding-left: 1em">You don't have any files, click <a href='~/uploadfiles?groupId=@groupId'>here</a> to start uploading</p>



            }
        } else {
            @Html.Raw( "You don't have access to this group, please contact the group's admin here" )
        }

    }

</body>
</html>
