@{

    if ( Session["userID"] != null ) {
        Response.Redirect( "~/groups" );

    }

    Validation.Add( "email", Validator.Regex( @"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", "Invalid format for an email address" ) );
    Validation.RequireField( "Pwd", "Required field" );
    string message = string.Empty;



    string userNameMessage = string.Empty;
    string passwordMessage = string.Empty;
    var sqlSelect = string.Empty;
    if ( IsPost ) {
        var db = Database.Open( "GP" );
        var em = Request["email"];
        var up = Request["Pwd"];       
        

        sqlSelect = "SELECT * FROM rc_UserLogin WHERE email=@0 and pwd=@1";
        var data = db.QuerySingle( sqlSelect, em, up );

        if ( data != null ) {

            
            
            Session["userID"] = data.userID;
            Session["Name"] = data.firstName + " " + data.lastName;

            if ( Request["ReturnURL"] != null ) {
                Response.Redirect( "~/" + Request["ReturnURL"] );

            }
            //sqlSelect = "SELECT userName FROM rc_SessionInfo";
            //data = db.QuerySingle( sqlSelect );
            //
            //if ( data != null ) {
            //
            //    if ( Request["ReturnURL"] != null && (string) Session["userName"] == data.userName ) {
            //        Response.Redirect( "~/" + Request["ReturnURL"] );
            //
            //    } else {
            //        sqlSelect = "DELETE FROM rc_SessionInfo WHERE userName=@0";
            //        db.Execute( sqlSelect, data.userName );
            //
            //        sqlSelect = "INSERT INTO rc_SessionInfo(userName) VALUES(@0)";
            //        db.Execute( sqlSelect, un );
            //        Response.Redirect( "~/home" );
            //
            //    }
            //} else {
            //
            //sqlSelect = "INSERT INTO rc_SessionInfo(userName) VALUES(@0)";
            //db.Execute( sqlSelect, un );

            Response.Redirect( "~/groups" );

            //}


        } else {
            message = "Invalid email or password";

        }

    }
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.js"></script>
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/black-tie/jquery-ui.css" />
    <link href="~/rcLayouts/default/css/loginStyle.css" rel="stylesheet" />
    <script>
        function ClearInput(box) {
            document.getElementById(box).value = "";

        }
    </script>
</head>
<body>
    <form method="post" action="" autocomplete="off">
        <fieldset style="background-color: white; width: 312px; font-size: 10px">
            <!--<legend>Login</legend>-->
            <ol>
                <li>
                    <label for="email">Email:</label>
                    <span>@Html.TextBox( "email", Request["email"] )</span>
                    <p>@Html.ValidationMessage( "email" )</p>
                </li>
                <li>
                    <label for="Pwd">Password:</label>
                    <input type="password" name="Pwd" @Validation.For( "Pwd" ) id="Pwd" value="" onload='ClearInput("email");' />
                    <p>@Html.ValidationMessage( "Pwd" )</p>
                </li>
                <li>
                    <p style="color: #f00; font-size: 12px"> @Html.Raw( message )</p>
                </li>
            </ol>

            <p class="form-actions">
                <input type="submit" name="btn" value="Login" title="Login" />
                <a href="~/signup" style="padding-left: 1em; font-size: 12px">or SignUp</a>
            </p>

        </fieldset>
    </form>


</body>
</html>