@{

    //int reqID = 0;
    //int.TryParse( Request["reqID"], out reqID );

    var userNameMessage = string.Empty;
    var passwordMessage = string.Empty;
    var emailMessage = string.Empty;

    Validation.Add( "email", Validator.Regex( @"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$", "Invalid email address format" ) );
    Validation.RequireField( "ufName", "Required Field" );
    Validation.RequireField( "ulName", "Required Field" );
    Validation.RequireField( "uPwd", "Required Field" );
    Validation.RequireField( "uPwdr", "Required Field" );
    Validation.RequireField( "email", "Required Field");
    Validation.Add( "uPwd", Validator.Regex( @"^(?=.*\d)(?=.*[a-zA-Z]).{6,50}$", "Weak Password. Select a password longer than 6 characters and include at least one capital letter and one digit." ) );

    if ( IsPost ) {
        var fn = Request["ufName"];
        var ln = Request["ulName"];
        var up = Request["uPwd"];
        var upr = Request["uPwdr"];
        var em = Request["email"];

        var db = Database.Open( "GP" );
        var sqlSelect = string.Empty;

        sqlSelect = "SELECT * from rc_UserLogin WHERE email=@0";
        var e_data = db.QuerySingle( sqlSelect, em );

        if ( e_data != null ) {
            emailMessage = "An account with this email already exists";

        } else {

            // check for password matching
            if ( up != upr ) {
                passwordMessage = "Password doesn't match";

            } else {

                
                sqlSelect = "SELECT * FROM rc_Confirmation";
                var data = db.Query( sqlSelect );

                int confID = 0;
                Random random = new Random();
                bool found = false;
                while ( true ) {
                    confID = random.Next();

                    foreach ( var item in data ) {
                        if ( item.confID == confID ) {
                            found = true;
                            break;
                        }
                    }
                    if(found){
                        continue;
                    }

                    break;
                }


                sqlSelect = "SELECT userID FROM rc_UserLogin";
                data = db.Query( sqlSelect );

                int userID;
                while ( true ) {
                    userID = random.Next();

                    foreach ( var item in data ) {
                        if ( item.userID == userID ) {
                            continue;
                        }
                    }

                    break;
                }


                sqlSelect = "INSERT INTO rc_Confirmation(confID, userID, firstName, lastName, email, pwd, date) VALUES(@0, @1, @2, @3, @4, @5, @6)";
                db.Execute( sqlSelect, confID, userID, fn, ln, em, up, DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString() );

                // Initialize WebMail helper
                WebMail.SmtpServer = /*"smtp-mail.outlook.com";*/ "smtp.live.com";
                WebMail.SmtpPort = 587; //25;
                WebMail.EnableSsl = true;
                WebMail.UserName = "ibo-alalali@hotmail.de";
                WebMail.Password = "heiderhofring16a";
                WebMail.From = "ibo-alalai@hotmail.de";
                
                var pageName = Request.Url.ToString().Substring( 0, Request.Url.ToString().LastIndexOf( '/' ) );
                try {
                    WebMail.Send( em, "Confirmation for a JoDrive Account", "<h1>Confirmation Email</h1>"
                    + "<p>Welcome to JoDrive! Please follow this link to confirm you email</p>"
                    + "<p><a href=\"" + pageName + "/emailconfirmed?confID=" + confID + "\">" + pageName + "/emailconfirmed?confID=" + confID + "</a></p>" );

                    
                } catch {
                    
                    
                }
                
                Response.Redirect( "~/emailconfirmation" );
                

                //if ( reqID != 0 ) {
                //
                //    sqlSelect = "SELECT * FROM rc_Requests WHERE id=@0";
                //    var reqData = db.QuerySingle( sqlSelect, reqID );
                //
                //    if ( reqData != null ) {
                //        string[] date = ( ( string ) reqData.date ).Split( new char[] { ' ' },
                //                                            StringSplitOptions.RemoveEmptyEntries );
                //
                //        DateTime reqDate = Convert.ToDateTime( date[0] );
                //        reqDate = reqDate.AddMonths( 1 );
                //
                //        if ( reqDate.CompareTo( DateTime.Now ) >= 1 ) {
                //
                //            sqlSelect = "INSERT INTO rc_UserGroups(groupID, userName) VALUES (@0, @1)";
                //            db.Execute( sqlSelect, reqData.groupID, un );
                //
                //        }
                //
                //        sqlSelect = "DELETE FROM rc_Requests WHERE id=@0";
                //        db.Execute( sqlSelect, reqID );
                //
                //    }
                //
                //    Session["userName"] = un;
                //    Response.Redirect( "~/groups" );
                //
                //}


            }
        }


    }//end if(isPost)
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.js"></script>
    <script>
        function ClearInput(box) {
            document.getElementById(box).value = "";

        }
    </script>
    <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/black-tie/jquery-ui.css" />
    <link href="~/rcLayouts/default/css/loginStyle.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="" autocomplete="off">


        <fieldset style="background-color:white; width:312px; font-size:10px">
            <ol>
                <li>
                    <label for="ufName">First Name:</label>
                    <input type="text" name="ufName" @Validation.For( "ufName" ) id="ufName" onload='ClearInput("ufName");' value="" />
                    <p>@Html.ValidationMessage( "ufName" )</p>
                    <p> @Html.Raw( userNameMessage )</p>
                </li>
                <li>
                    <label for="ulName">Last Name:</label>
                    <input type="text" name="ulName" @Validation.For( "ulName" ) id="ulName" onload='ClearInput("ulName");' value="" />
                    <p>@Html.ValidationMessage( "ulName" )</p>
                    <p> @Html.Raw( userNameMessage )</p>
                </li>
                <li>
                    <label for="uPwd">Password:</label>
                    <input type="password" name="uPwd" @Validation.For( "uPwd" ) id="uPwd" onload='ClearInput("uPwd");' value="" />
                    <p>@Html.ValidationMessage( "uPwd" )</p>
                </li>
                <li>
                    <label for="uPwdr">Repeat Password:</label>
                    <input type="password" name="uPwdr" @Validation.For( "uPwdr" ) id="uPwdr" onload='ClearInput("uPwdr");' value="" />
                    <p>@Html.ValidationMessage( "uPwdr" )</p>
                    <p>@Html.Raw( passwordMessage )</p>
                </li>
                <li>
                    <label for="email">Email:</label>
                    <span>@Html.TextBox( "email", Request["email"] )</span>
                    <p>@Html.ValidationMessage( "email" )</p>
                    <p>@Html.Raw( emailMessage )</p>

                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" name="btn" value="SignUp" title="SignUp" /> <a href="~/" style="padding-left: 1em; font-size: 12px">or Login</a>
            </p>

        </fieldset>
    </form>
</body>
</html>