@{
    if ( Session["userID"] == null ) {
        var pageName = Request.Url.ToString().Substring( Request.Url.ToString().LastIndexOf( '/' ) + 1 );

        Response.Redirect( "~/?ReturnURL=" + pageName );
    }

    int groupID = int.Parse( Request["groupId"] );
    var user = ( int ) Session["userID"];
    var name = ( string ) Session["name"];

    var db = Database.Open("GP");

    var sqlSelect = "SELECT * from rc_groups WHERE groupID=@0";
    var g_data = db.QuerySingle( sqlSelect, groupID );

    sqlSelect = "SELECT ownerID FROM rc_groups WHERE groupID = @0";
    var groupAdmin = db.QuerySingle(sqlSelect, groupID);

    sqlSelect = "SELECT * FROM rc_RequestedPermissions WHERE groupID=@0";
    var data = db.Query(sqlSelect, groupID);

    if(IsPost)
    {
        var reqID = Request.Form["grant"];
        var canID = Request.Form["cancel"];

        if(!reqID.IsEmpty()){
        //get info about the current request
        sqlSelect = "SELECT * FROM rc_RequestedPermissions WHERE requestID=@0";
        var currentRequest = db.QuerySingle(sqlSelect, reqID);

        //grant access to user
        var sqlInsert = "INSERT INTO rc_GrantedPermissions(fileID, holderID, groupID) VALUES(@0, @1, @2)";
        db.Execute(sqlInsert, currentRequest.fileID, currentRequest.userID, currentRequest.groupID);

        //remove entry from the requests table
        var sqlDelete = "DELETE FROM rc_RequestedPermissions WHERE requestID=@0";
        db.Execute(sqlDelete, reqID);
        }
        if(!canID.IsEmpty()){
            var sqlDelete= "DELETE FROM rc_RequestedPermissions WHERE requestID = @0";
            db.Execute(sqlDelete, canID);



        }
        //refresh page
        Response.Redirect(Request.RawUrl);


    }
}

<!DOCTYPE html>

<html lang="en">
   <head>
        <meta charset="utf-8" />
         <link href="~/rcLayouts/default/css/table.css" rel="stylesheet" />
         <link href="~/rcLayouts/default/css/bootstrap.css" rel="stylesheet" />
         <link href="~/rcLayouts/default/css/carousel.css" rel="stylesheet" />
        <link href="~/rcLayouts/default/css/forms.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>
         @if ( data != null ) {
             <fieldset style="background-color: #F7F7F7; border: none; ">

                        <span style="padding-left: 0.9em; font-size: 16px"><strong>Group Name:</strong> @g_data.groupName</span>
                        <span style="padding-left: 2em; font-size: 16px"><strong>Owner:</strong> @if ( g_data.ownerID == user ) { <text>You</text> } else { @name }</span>
                        <span style="padding-left: 2em; font-size: 16px"><strong>Date Created:</strong> @g_data.date</span>
                </fieldset>

        <div class="table">
            <table>

                <colgroup>
                    <col span="1" style="width: 60%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <tr>
                    <th style="border-left: none"> FILE NAME</th>
                    <th> USER</th>
                    <th style="border-left: none">  </th>
                    <th style="border-left: none">  </th>
                </tr>
                @foreach ( var item in data ) {
                        var sqlUserSelect = "SELECT * FROM rc_UserLogin WHERE userID =@0";
                        var userInfo = db.QuerySingle(sqlUserSelect, item.userID);        

                        var sqlFileSelect = "SELECT * from rc_Files where fileID =@0";
                        var file_data = db.QuerySingle(sqlFileSelect, item.fileID);
                    
                    <tr>
                        <td style=" border-left:1px solid #d7d7d7;border-left-width: thick; border-left-color: #96C4E3">
                           @file_data.fileName
                        </td>
                        <td>
                           @userInfo.firstName @Html.Raw(" ") @userInfo.lastName                  
                        </td>
                        
                        <td><form method="post">
                                 <input type="image" src="~/rcLayouts/default/images/delete.png" style="outline: none" name="cancel" title="Deny Permissions"value="@item.requestID" width="18" height="18" onclick="return confirm('Are you sure you want to pull the permission from this user?')"/>                                                                                                                                                                                           
                        </form></td>
                        <td><form method="post">
                                 <input type="image" src="~/rcLayouts/default/images/Check.png" style="outline: none" name="grant" title="Grant Permissions"value="@item.requestID" width="18" height="18" onclick="return confirm('Are you sure you want to grant permission to this user?')"/>                                                                                                                                                                                           
                        </form></td>

                    </tr>
                }
            </table>
        </div>
    }
    </body>
</html>
